on:
  workflow_call:
    inputs:
      refs:
        required: false
        type: string
      release-tag-name:
        required: true
        type: string
      push:
        required: true
        type: boolean


jobs:
  dapper-build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      id-token: write
    steps:
      - name: Checkout code without refs
        if: ${{ inputs.refs == '' }}
        uses: actions/checkout@v4

      - name: Checkout code with refs
        if: ${{ inputs.refs != '' }}
        uses: actions/checkout@v4
        with:
          ref: ${{ inputs.refs }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Run dapper
        run: make ci

      - name: Read some Secrets
        uses: rancher-eio/read-vault-secrets@main
        if: ${{ inputs.push == true }}
        with:
          secrets: |
            secret/data/github/repo/${{ github.repository }}/rancher-prime-registry/credentials registry |  PRIME_REGISTRY;
            secret/data/github/repo/${{ github.repository }}/rancher-prime-registry/credentials username |  PRIME_REGISTRY_USERNAME;
            secret/data/github/repo/${{ github.repository }}/rancher-prime-registry/credentials password |  PRIME_REGISTRY_PASSWORD

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        if: ${{ inputs.push == true }}
        with:
          username: ${{ env.PRIME_REGISTRY_USERNAME }}
          password: ${{ env.PRIME_REGISTRY_PASSWORD }}
          registry: ${{ env.PRIME_REGISTRY }}

      - name: Copy credentials
        if: ${{ inputs.push == true }}
        run: cp -r $HOME/.docker $GITHUB_WORKSPACE

      - name: Set PUSH env variable
        if: ${{ inputs.push == true }}
        run: echo "PUSH=true" >> $GITHUB_ENV

      - name: Set TAG env variable #sets TAG env variable which will generate the tag
        run: |
          TAG_NAME="${{ inputs.release-tag-name }}"
          echo "TAG=$TAG_NAME" >> $GITHUB_ENV        

      - name: Run dapper
        run: |
          make package-ansible-operator
          make forklift-packaging

      - name: Remove credentials
        if: ${{ inputs.push == true }}
        run: rm -r $GITHUB_WORKSPACE/.docker